<div class="row center">

  <h1 class="header center orange-text">SIMPLE DESK</h1>

  <form class="col s12" ng-submit="login()">

    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="text" ng-model="user.email" class="validate" >
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="password" type="password" class="validate"  ng-model="user.password">
        <label for="password">Password</label>
      </div>
    </div>

    </br></br>

    <button class="waves-effect waves-light btn">
      ENTRAR
    </button>

    <a class="waves-effect waves-light btn orange" ng-href="#/register">
      REGISTRAR
    </a>

  </form>
</div>

<!--   <div class="list card">

    <a href="#" class="item item-icon-left">
      <i class="icon ion-home"></i>
      <h4 >{{ alert.title }}</h4>
      {{ alert.detail}}
    </a>

  </div>  -->

<div class="row center" ng-controller="SocialLoginCtrl">
    <button class="btn-large waves-effect waves-light blue darken-4" ng-click="socialLogin('facebook')"><i class="fa fa-facebook-official"></i></button>
    <button class="btn-large waves-effect waves-light red" ng-click="socialLogin('facebook')"><i class="fa fa-google-plus"></i></button>
    <button class="btn-large waves-effect waves-light blue" ng-click="socialLogin('facebook')"><i class="fa fa-twitter-square"></i></button>
</div>

<div class="row center">
  <a href="#!">PODEMOS AJUDAR ?</a>
</div>

