.logoCompany img{
    width: 150px;
    margin: auto;
}
.brand-main {
  margin-top: 2px;
}
.brand-pao {
    width: 30px;
    height: 30px;
    /*border-radius: 50px;*/
}
.user-avatar {
    width: 34px;
    height: 34px;
    border-radius: 50px;
}
.user-search {
    margin-top: 19px;
}
#output{
    position: fixed;
    bottom: 0px;
    width: 100%;
}
#output .alert{
    width: 100%;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
