<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Pão na Mão</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="../assets/css/signin.css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="../assets/css/style.css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="../assets/plugins/font-awesome/css/font-awesome.min.css">
</head>
<body id="start">
  <section>
    <div class="container">
      <div class="col-md-12">
          <div class="row">
              <div class="col-md-4 text-center"></div>
              <div class="col-md-4 text-center">
                  <h2><i class="fa fa fa-bicycle fa-5x bike"></i></h2>
              </div>
              <div class="col-md-4 text-center"></div>
          </div>
      </div>
    </div>
  </section>
  <section class="bg-index">
    <div class="container">
      <div class="col-md-12">
          <h1 class="form-signin-heading text-center pao text-shadow">Pão na Mão</h1><br>
          <h3 class="form-signin-heading text-center">Delivery de padaria de uma forma mais consciente ; )</h3>
          <h3 class="form-signin-heading text-center"><strong>Junte-se a nós!</strong></h3>
      </div>
        <div class="col-md-6 col-md-offset-3">
          <div class="row">
            <div class="col-md-2 text-center"></div>
            <div class="col-md-4 text-center">
                <h1><a class="btn btn-lg btn-success" href="user/login.php"><i class="fa fa fa-user fa-3x"></i><br>Cliente</a></h1>
            </div>
            <div class="col-md-4 text-center">
                <h1><a class="btn btn-lg btn-warning" href="company/login.php"><i class="fa fa fa-bicycle fa-3x"></i><br>Empresa</a></h1>
            </div>
            <div class="col-md-2 text-center"></div>
          </div>
        </div>
    </div>
    <h2 class="text-center"><img class="media-bar" src="../assets/img/bread-512.png" alt="" /></h2>
    <br>
  </section>

    <script src="../assets/js/jquery-1.11.3.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/alert.js"></script>
</body>
</html>
